!!! Strict
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1")
    %title= @title
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/header'
    .container
      - flash.each do |message_type, message|
        %div{ :class => ['alert', 'alert-' + message_type] }
          %p= message
      = yield
      = render :partial => 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
